
body { font-family: Arial; background: #181818; color: #f0f0f0; }
header { background: #202020; padding: 10px; font-weight: bold; font-size: 1.5em; text-align: center; }
.container { margin: 20px; }
.section { margin-bottom: 20px; }
